.recipe {
    display: flex;
    column-gap: 30px;

    height: 60px;
    width: auto;
    
    text-align: start;
    font-size: 0.8em;

    background-color: var(--foreground-color);

    padding: 15px 25px 15px 15px;
    border-radius: 16px;
    border: 2px solid transparent;

    cursor: pointer;
    transition: border-color 0.25s;

    scroll-snap-align: start;

    &:hover {
        border-color: var(--select-color);
    }

    img {
        user-select: none;
        max-width: 120px;
        object-fit: contain;

        transform: translateZ(0);
        backface-visibility: hidden;
    }

    .quantity-label {
        font-weight: bold;
        font-size: 1.15em;

        z-index: 10;
        user-select: none;

        align-self: flex-end;
        margin-bottom: -9px;
    }

    .left-side {
        display: flex;
        margin: 0;

        .quantity-label {
            margin-bottom: -15px;

            font-size: 1.75em;
        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        h2 {
            margin: -10px 0 0 0;
            overflow: visible;
            white-space: nowrap;
        }

        .ingredients-container {
            display: flex;
            column-gap: 30px;

            min-height: 30px;
            height: 30px;

            .ingredient {
                display: flex;

                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
}