@font-face {
  font-family: "Andy";
  src: local("Andy"), url(../fonts/Andy.ttf) format("truetype");
}

:root {
  	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: var(--text-color);
  	line-height: 1.5;
  	font-weight: 400;

	background-color: var(--background-color);

  	font-synthesis: none;
  	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

  	overflow: hidden;
}

body {
  	margin: 0;
  	display: flex;
  	min-width: 320px;
  	min-height: 100vh;
}