@mixin card {
  	border-radius: 8px;
  	border: 2px solid transparent;
  	padding: 0.6em 1.2em;
  	font-size: 1em;
  	font-weight: 500;
  	font-family: inherit;
  	cursor: pointer;
  	transition: border-color 0.25s;

	color: var(--text-color);
	background-color: var(--foreground-color);

  	&:hover {
    	border-color: var(--select-color)
  	}
  	&:focus, &:focus-visible {
    	outline: 4px auto -webkit-focus-ring-color;
  	}
  	&:disabled {
    	border-color: #ffffff00;
  	}
}