@use '../../styles/mixins.scss';

.checkbox {
  	@include mixins.card;

  	height: 40px;
  	width: 40px;

  	display: flex;
  	align-items: center;
  	justify-content: center;

  	border: 0;
  	transition: all 0.15s linear;
}

.checkbox-checked {
  	background-color: var(--select-color);
}

.checkmark-icon {
	padding-top: 1px;
  	min-width: 20px;
  	min-height: 20px;
  	opacity: 0;
}

.checkbox-checked .checkmark-icon {
  	opacity: 1;
}